<div class="row">
  <div class="well col-lg-12">
    <%= link_to 'Create address', new_address_path %><br />
  </div>
</div>

<div class="row">
  <div class="well col-lg-12">
    <%= link_to 'Create machine', new_machine_path %><br />
  </div>
</div>