<div class="jumbotron center">
  <h1>Welcome to the Imagine medical imaging booking platform.</h1>
  <h2>The purpose of this tool is to centralize your access to medical imaging after receiving a prescription from your physician or specialist.</h2>
  
  <%= link_to "Book now!", '', class: "btn btn-lg btn-danger" %>
</div>

<div class="row">
  <div class="col-lg-6">
    <h3 class="midrow">View imaging service providers</h3>
    <h2 class="left">Browse and view imaging service providers in your area</h2>
    <p><%= link_to "Browse medical imaging service providers", '', class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-6">
    <h3 class="midrow">Sign in to your account</h3>
    <h2 class="left">Review your prescriptions and your range</h2>
    <p><%= link_to "Log in to your account", '', class: "btn btn-warning btn-small" %></p>
  </div>
</div>