<%= render "shared/errors", obj: @address_category %>

<div class="row">
  <div class="well col-sm-8 col-sm-offset-2">
    <%= form_for @address_category do |f| %>
      <div class="control-group">
        <label class="control-label col-sm-4">Name</label>
        <div class="col-sm-8">
          <%= f.text_field :name, { class: 'form-control', :autofocus => true } %>
        </div>
      </div>
      <%= f.submit(@address_category.new_record? ? "Create Address Category":"Update Address Category", class: "btn btn-success") %>
    <% end %>
  </div>
</div>