$navbar-default-bg: #22AA66;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  box-shadow: 0px 2px 5px grey;
}

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top: 90px; // For the navigation bar
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.nav_ul_item {
  padding-left: 25px;
  float: left;
  margin-top: 20px;
  display: inline-block;
  list-style-type: none;
}

.nav_item_right {
  float: right;
}

.center {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: 0.5px;
}

.right {
  text-align: right;
  letter-spacing: 0.5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #EAEAEA;
  color: #777;
}

.well {
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.input_checkbox input {
  width: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.tag {
  border-radius: 3px;
  border: solid 1px grey;
  background-color: #e5f2ff;
  padding: 2px;
}

.btn {
  box-shadow: 0px 2px 2px grey;
  margin: 10px auto;
}

.address_category {
  font-size: 0.8em;
}

.address {
  padding: 0px 10px 5px 10px;
}

.phone_category {
  font-size: 0.8em;
}

.phone {
  padding: 0px 10px 5px 10px;
}

.pagination {
  display: hidden;
}

.no_wrap {
  white-space: nowrap;
}

.imlbl {
  font-weight: bold;
}

.panel-heading {
  cursor: pointer;
}

.fa-6 {
  font-size: 10em;
}

.inline {
  display: inline-block;
}

// DEBUGGING
.debug_borders {
  border: 1px solid red;
}

// TYPEAHEAD
/*
.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
  display: block;
  background-color:white;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius:4px;
}

.twitter-typeahead .hint-small {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  line-height: 1.5;
}

.twitter-typeahead .hint-large {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
  line-height: 1.33;
}

.tt-menu {
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-notfound {
  display: block;
  padding: 3px 20px;
}
*/